﻿<div class="row" ng-show="authenticated">
    <div class="col-md-12">
        <h2>Transactions <small ng-show="transactions.length > 0">{{transactions.length}} found</small></h2>
        <hr>

        <button class="btn btn-info" ng-click="ctrl.getWeekly()">
            <i class="fa fa-magic"></i> Weekly Report
        </button>

        <button class="btn btn-primary" ng-click="ctrl.register()">
            <i class="fa fa-plus-circle"></i> Register
        </button>
        <button class="btn btn-default" ng-click="ctrl.getTransactions()">
            <i class="fa fa-refresh"></i> Refresh
        </button>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th class="text-center">Date</th>
                        <th>Description</th>
                        <th>Comment</th>
                        <th class="text-center" width="80"></th>
                    </tr>
                </thead>
                <tbody ng-if="transactions.length > 0">
                    <tr ng-repeat="item in transactions">
                        <td>{{item.amount | number}}</td>
                        <td class="text-center">{{item.date}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.comment}}</td>
                        <td class="text-center">
                            <div class="table-commands">
                                <button class="btn btn-primary btn-xs" ng-click="ctrl.edit(item)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" ng-click="ctrl.remove(item)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="transactions.length < 1">
                    <tr>
                        <td colspan="5">No transactions were found.</td>
                    </tr>
                </tbody>
                <tfoot ng-if="transactions.length > 0">
                    <tr class="info">
                        <td colspan="3">Total: {{totalAmount | number}}</td>
                        <td colspan="2">{{transactions.length}} record(s)</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div ng-if="weeklyData.length">
            <h3>Weekly Report</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Sum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in weeklyData">
                            <td>{{item.day}}</td>
                            <td>{{item.sum | number}}</td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">Total: {{weeklyTotal | number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="!authenticated">
    <div class="col-md-12">
        <h2>Welcome to Expense Tracker</h2>
        <p>Sign up for free, or sign in to continue.</p>
    </div>
</div>