﻿<div class="row">
    <div class="col-md-12">
        <h1>Signup for free!</h1>
        <hr />

        <div ng-if="errors.length">
            <ul>
                <li ng-repeat="item in errors">{{item}}</li>
            </ul>
        </div>

        <form role="form">
            <div class="form-group">
                <label for="email" class="control-label">Email:</label>
                <input type="email" class="form-control" ng-model="model.email" placeholder="email address" />
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password:</label>
                <input type="password" class="form-control" ng-model="model.password" placeholder="choose a password" />
            </div>
            <div class="form-group">
                <label for="confirm" class="control-label">Confirm:</label>
                <input type="password" class="form-control" ng-model="model.confirmPassword" placeholder="enter password again" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="createAccount()">
                    <i class="fa fa-check-circle-o"></i> Create Account
                </button>
            </div>
        </form>
    </div>
</div>