﻿<div class="row">
    <div class="col-md-12">
        <h1>Sign in</h1>
        <hr />
        
        <form role="form">
            <div class="form-group">
                <label for="email" class="control-label">Email:</label>
                <input type="email" class="form-control" ng-model="email" placeholder="email address" />
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password:</label>
                <input type="password" class="form-control" ng-model="password" placeholder="password" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="ctrl.signIn()">
                    <i class="fa fa-sign-in"></i> Sign in
                </button>
            </div>
        </form>
    </div>
</div>