﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Register Transaction</h3>
</div>
<div class="modal-body" id="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="amount" class="control-label">Amount:</label>
            <input type="text" class="form-control" ng-model="amount" placeholder="Enter transaction amount">
        </div>
        <div class="form-group">
            <label for="date" class="control-label">Date:</label>
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="" href="">
                    <div class="input-group">
                        <input type="text" id="date" name="date" class="form-control" data-ng-model="date">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="date" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', startView: 'day' }"></datetimepicker>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label">Description:</label>
            <textarea name="description" class="form-control" rows="2" ng-model="description" placeholder="description"></textarea>
        </div>
        <div class="form-group">
            <label for="comment" class="control-label">Comment:</label>
            <textarea name="comment" class="form-control" rows="4" ng-model="comment" placeholder="comment"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
</div>