﻿<div class="row">
    <div class="col-md-12">
        <h1>User List <small ng-if="users.length">{{users.length}} found</small></h1>
        <hr />

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Email Confirmed</th>
                        <th>Lockout Enabled</th>
                        <th class="text-center" width="80"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users track by user.id">
                        <td>{{user.userName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.emailConfirmed}}</td>
                        <td>{{user.lockoutEnabled}}</td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-xs" ng-click="ctrl.edit(user)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="ctrl.remove(user)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>